<template>
    <div class="container">
        <h1>Visualizzazione attore con id {{$route.params.id}}</h1>
        <h2>Locale: {{$route.query.locale}}</h2>
        <router-link
                tag="button"
                class="btn btn-primary"
                :to="{name: 'ActorEdit', params: {id: actor.id}}">
            Modifica
        </router-link>
    </div>
</template>

<script>


export default {
  name: 'ActorShow',
  data(){
    return {
      actor : {}
    }
  },
  methods: {

  },
  mounted() {

  }

}
</script>


<style scoped lang="scss">

</style>
