<template>
    <div class="container">
        <h1>Modifica attore</h1>
    </div>
</template>

<script>


export default {
  name: 'ActorEdit',
  data(){
    return {
      actor : {}
    }
  },
  methods: {

  },
  mounted() {

  }

}
</script>


<style scoped lang="scss">

</style>
