<template>
    <div class="container">
        <h1>Lista Attori</h1>
        <ul class="list-group">
            <li v-for="actor in actors" :key="actor.id" class="list-group-item list-group-item-primary">
                <router-link :to="{name: 'ActorShow', params: {id: actor.id}, query: {locale: 'it'}}">{{actor.name}}</router-link>
            </li>
        </ul>
    </div>
</template>

<script>


export default {
  name: 'ActorList',
  data(){
    return {
      actors : []
    }
  },
  methods: {

  },
  mounted() {
    this.$http.get('https://www.massimilianosalerno.it/jwt/api/test').then(res => {
      this.actors = res && res.ok && res.body && res.body.data ? res.body.data : [];
    }, error => {
      console.log(error, 'error');
    })
  }

}
</script>


<style scoped lang="scss">
  li {
    display: flex;
    justify-content: space-between;
  }
</style>
