<template>
  <div>
    <div v-if="token && user">
      <app-header :voices="navRoute" :user-data="user" @logout="logout"></app-header>
      <v-touch @swiperight="goSwipe('left')" @swipeleft="goSwipe('right')">
        <h1>Loggato</h1>
        <router-view/>
      </v-touch>
    </div>

  </div>
</template>

<script>
import routes from '../../router/auth'
export default {
  name: 'AuthPage',
  created(){
    this.setLocalStorage();
  },
  computed: {
    navRoute(){
      return routes.filter(el => el.menuTitle)
              .map(el => ({label: el.menuTitle, to: el.path}))
    }
  },
  methods: {
    goSwipe: function(direction){
      let routesFilter = routes.filter(route => route.path.indexOf(':') === -1);
      let indexRoute = routesFilter.findIndex(route => route.name === this.$route.name);
      let nextRoute = this[direction](routesFilter, indexRoute);
      this.$router.push(nextRoute.path);
    },
    right: function (routesFilter, indexRoute) {
      return routesFilter.length <= (indexRoute+1)? routesFilter[0] : routesFilter[indexRoute+1];
    },
    left: function (routesFilter, indexRoute) {
      return (indexRoute -1 ) < 0 ? routesFilter[routesFilter.length - 1] : routesFilter[indexRoute -1];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
