<template>
  <div class="container">

    <div v-if="!newUser">
      <h1>
        Lista Utenti
        <span @click="setNewUser()">
          <i class="fas fa-plus-square"></i>
        </span>
      </h1>
      <ul class="list-group">
        <li v-for="user in users" :key="user.id" class="list-group-item list-group-item-primary">
          <router-link :to="{path: '/user/'+user.id}">{{user.name}}</router-link>
          <div>
              <span class="pointer" @click="setNewUser(user)">
                <i class="fas fa-edit"></i>
              </span>
              <span class="pointer" @click="deleteUser(user)">
                <i class="fas fa-trash-alt"></i>
              </span>
          </div>

        </li>
      </ul>
    </div>

    <div v-else>
      <h1>Nuovo Utente</h1>
      <form @submit.prevent="addUser">
        <div class="form-group">
          <input type="text" required v-model="newUser.name" class="form-control" placeholder="Nuovo Utente">
        </div>
        <div class="form-group">
          <input type="text" required v-model="newUser.username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email" required v-model="newUser.email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" required v-model="newUser.phone" class="form-control" placeholder="Telefono">
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-info" @click="resetNewUser">Annulla</button>
          <button type="submit" class="btn btn-primary" >{{newUser.id? 'Modifica' : 'Aggiungi'}}</button>
        </div>
      </form>
    </div>





  </div>

</template>

<script>


export default {
  name: 'Users',
  data(){
    return {
      users : [],
      newUser: undefined
    }
  },
  methods: {
    setNewUser: function(user = {}){
        this.newUser = user;
    },
    addUser: function(){
      if(this.newUser.id){
        this.$http.put('users/'+this.newUser.id, this.newUser).then(res => {
          this.users = this.users.map(user => user.id === this.newUser.id ? res.body : user);
          this.resetNewUser();
        })
      }else{
        this.$http.post('users', this.newUser).then(res => {
          this.users = [...this.users, res.body];
          this.resetNewUser();
        })
      }

    },
    resetNewUser: function(){
        this.newUser = undefined;
    },
    deleteUser: function (user) {
      this.$http.delete('users/'+user.id).then(res => {
        if(res.ok)
          this.users = this.users.filter(el => el.id !== user.id);
      })
    }
  },
  mounted() {
    this.$http.get('https://jsonplaceholder.typicode.com/users').then(res => {
      this.users = res && res.ok && res.body ? res.body : [];
    }, error => {
      console.log(error, 'error');
    })
  }

}
</script>


<style scoped lang="scss">
  li {
    display: flex;
    justify-content: space-between;
  }
</style>
