<template>
  <div class="container">

    <CardBootstrap :title="'Pagina di ' + (user.name || '')">
      <div>
        <GeneralData :user="user"></GeneralData>
        <hr>
        <AddressData :address="user.address" v-if="user.address"></AddressData>
        <hr>
        <CompanyData :company="user.company" v-if="user.company"></CompanyData>
      </div>

    </CardBootstrap>

  </div>

</template>

<script>


import GeneralData from "../../components/user/GeneralData";
import AddressData from "../../components/user/AddressData";
import CompanyData from "../../components/user/CompanyData";
import CardBootstrap from "../../components/design/bootstrap/CardBootstrap";
export default {
  name: 'User',
  components: {CardBootstrap, CompanyData, AddressData, GeneralData},
  data(){
    return {
      id: this.$route.params.id,
      user: {
        "id": 1,
        "name": "Leanne Graham",
        "username": "Bret",
        "email": "Sincere@april.biz",
        "address": {
          "street": "Kulas Light",
          "suite": "Apt. 556",
          "city": "Gwenborough",
          "zipcode": "92998-3874",
          "geo": {
            "lat": "-37.3159",
            "lng": "81.1496"
          }
        },
        "phone": "1-770-736-8031 x56442",
        "website": "hildegard.org",
        "company": {
          "name": "Romaguera-Crona",
          "catchPhrase": "Multi-layered client-server neural-net",
          "bs": "harness real-time e-markets"
        }
      }
    }
  },
  mounted() {
    this.$http.get('https://jsonplaceholder.typicode.com/users/'+this.id).then(res => {
      this.user = res && res.ok && res.body ? res.body : [];
    }, error => {
      console.log(error, 'error');
    })
  }
}
</script>


<style scoped lang="scss">

</style>
